node_modules
builds
dist
components/scripts/preprocessed
components/scripts/BabelExt.js
components/scripts/thirdparty
components/graphics
components/scripts/browser_specific/Chrome/background.js
npm-debug.log